.color-change{
    background: #ffffff;
    background-image: url("../css/nascar.gif");
    width: 1500px;
    height: 460px;
}
*{
    font-family: sans-serif;
    background: linear-gradient(to bottom, #ff9633 0%, #f52105 100%);
}
.button{
    color: #ffffff;
}
#table{
    border: 0.5px solid rgba(4,45,106,.03)
}