.color-change{
    background: #ffffff;
    width: 1500px;
    height: 460px;
    
}
*{
    font-family: sans-serif;
}

body{
    text-align:center;

}

html {
    height: 100%;
    background-color: white;
    background-image: linear-gradient(yellow,red);
}
.button{
    background-color: red;
}

.table {
    margin-top: 2.5vh;
    margin-left: 27vw;
    width: 47%;
    text-align: justify;
    background-color: rgba(26, 42, 66, 0.6);
    color: white;
    border-radius: 4px;
    background-image: url("../css/nascar.gif");
}
table, th {
    border-bottom: solid 0.5px rgba(1, 10, 24, 0.459);
    border-collapse: collapse;
    padding-top: 4px;
    padding-bottom: 4px;
}

table, th, td {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 6px;
    border: 1px solid black;
}

